In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
train = pd.read_csv('data/train.csv')

In [3]:
test = pd.read_csv('data/test.csv')

In [4]:
train.head()

,layer_1,layer_2,layer_3,layer_4,0,1,2,3,4,5,...,216,217,218,219,220,221,222,223,224,225
0,10,10,10,10,0.254551,0.258823,0.254659,0.252085,0.247678,0.253614,...,0.354750,0.369223,0.388184,0.408496,0.414564,0.429403,0.419225,0.443250,0.433414,0.465502
1,10,10,10,20,0.205062,0.225544,0.217758,0.202169,0.199633,0.207380,...,0.557203,0.573656,0.587998,0.612754,0.627825,0.633393,0.637706,0.625981,0.653231,0.637853
2,10,10,10,30,0.189196,0.165869,0.177655,0.156822,0.175094,0.177755,...,0.699864,0.708688,0.721982,0.713464,0.743030,0.741709,0.747743,0.746037,0.737356,0.750391
3,10,10,10,40,0.131003,0.120076,0.138975,0.117931,0.130566,0.131262,...,0.764786,0.763788,0.770017,0.787571,0.778866,0.776969,0.774712,0.801526,0.805305,0.784057
4,10,10,10,50,0.091033,0.086893,0.108125,0.080405,0.105917,0.077083,...,0.786677,0.802271,0.806557,0.799614,0.789333,0.804087,0.787763,0.794948,0.819105,0.801781

In [5]:
train.describe()

,layer_1,layer_2,layer_3,layer_4,0,1,2,3,4,5,...,216,217,218,219,220,221,222,223,224,225
count,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,...,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000
mean,155.000000,155.000000,155.000000,155.000000,0.292653,0.292893,0.293125,0.293363,0.293666,0.293994,...,0.600336,0.606206,0.612238,0.618456,0.623942,0.625395,0.627100,0.628997,0.631166,0.633594
std,86.554468,86.554468,86.554468,86.554468,0.181642,0.181857,0.182055,0.182197,0.182361,0.182529,...,0.199727,0.198644,0.197473,0.196177,0.195028,0.194909,0.194730,0.194493,0.194146,0.193725
min,10.000000,10.000000,10.000000,10.000000,-0.014902,-0.014798,-0.014897,-0.014709,-0.014903,-0.014662,...,-0.011992,-0.008661,-0.011430,-0.009827,-0.007632,-0.007411,-0.007073,-0.007101,-0.005519,-0.006074
25%,80.000000,80.000000,80.000000,80.000000,0.135139,0.135180,0.135258,0.135478,0.135585,0.135705,...,0.469345,0.476970,0.484727,0.492739,0.500232,0.501650,0.503811,0.506252,0.509036,0.512067
50%,155.000000,155.000000,155.000000,155.000000,0.286510,0.286874,0.287194,0.287553,0.287830,0.288151,...,0.643685,0.649886,0.656258,0.662860,0.668727,0.670287,0.672145,0.674283,0.676692,0.679339
75%,230.000000,230.000000,230.000000,230.000000,0.435696,0.435956,0.436112,0.436326,0.436634,0.437142,...,0.760737,0.765462,0.770333,0.775263,0.779555,0.780846,0.782387,0.783979,0.785774,0.787759
max,300.000000,300.000000,300.000000,300.000000,0.748205,0.753103,0.749494,0.747389,0.748827,0.750392,...,0.935423,0.934867,0.938873,0.937817,0.942214,0.940367,0.940387,0.941548,0.942411,0.943648

In [6]:
test.head()

,id,0,1,2,3,4,5,6,7,8,...,216,217,218,219,220,221,222,223,224,225
0,0,0.535410,0.520775,0.494087,0.465134,0.430339,0.401751,0.355986,0.326427,0.282340,...,0.748339,0.757575,0.768130,0.777062,0.769173,0.768253,0.738704,0.739460,0.702139,0.702238
1,1,0.351099,0.398179,0.413809,0.418529,0.433257,0.455410,0.451065,0.464230,0.476011,...,0.333931,0.276307,0.211513,0.159223,0.110982,0.083130,0.099780,0.145420,0.260501,0.343857
2,2,0.490537,0.435958,0.413428,0.355796,0.335777,0.299944,0.242745,0.210555,0.180739,...,0.709371,0.746826,0.781436,0.788292,0.828630,0.835166,0.845859,0.846032,0.836724,0.846779
3,3,0.051634,0.075802,0.133983,0.154546,0.209387,0.251700,0.287552,0.333000,0.340617,...,0.075046,0.056651,0.079884,0.147469,0.213112,0.298096,0.382823,0.489381,0.562383,0.599247
4,4,0.154031,0.201728,0.270414,0.283799,0.343050,0.340233,0.379244,0.378511,0.373017,...,0.255070,0.242396,0.271287,0.328828,0.397950,0.486436,0.530573,0.582752,0.637296,0.637238

In [7]:
test.describe()

,id,0,1,2,3,4,5,6,7,8,...,216,217,218,219,220,221,222,223,224,225
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,...,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,4999.50000,0.298620,0.298523,0.298266,0.298122,0.297840,0.297781,0.297680,0.297628,0.297761,...,0.601752,0.607483,0.613193,0.618859,0.623699,0.624553,0.625722,0.627125,0.628886,0.631377
std,2886.89568,0.182323,0.182546,0.182835,0.183146,0.183721,0.183892,0.184473,0.185290,0.185560,...,0.200110,0.198799,0.198037,0.197150,0.196688,0.197329,0.197532,0.197626,0.197022,0.196373
min,0.00000,-0.014062,-0.014153,-0.013073,-0.013437,-0.013738,-0.013458,-0.013132,-0.014418,-0.013239,...,-0.000326,-0.000018,-0.001248,-0.006506,0.007479,0.007074,0.003891,0.000749,0.010466,0.001458
25%,2499.75000,0.143776,0.142043,0.141642,0.140117,0.139429,0.138310,0.138377,0.136580,0.136497,...,0.470463,0.475866,0.486420,0.493853,0.497811,0.500310,0.504392,0.502767,0.504647,0.509042
50%,4999.50000,0.292133,0.291344,0.291543,0.291320,0.291687,0.291404,0.290600,0.290009,0.292850,...,0.644588,0.651759,0.658020,0.663477,0.669354,0.670082,0.672555,0.674006,0.675324,0.677706
75%,7499.25000,0.440783,0.441728,0.441065,0.442691,0.443197,0.443525,0.443969,0.445480,0.446458,...,0.762421,0.767317,0.770799,0.775913,0.780854,0.782970,0.783460,0.784899,0.785543,0.787843
max,9999.00000,0.738145,0.735195,0.730482,0.727110,0.739487,0.740530,0.739367,0.746795,0.739782,...,0.922739,0.922250,0.924994,0.920316,0.930631,0.928891,0.935706,0.935085,0.937052,0.940716

In [8]:
test = test.drop(['id'], 1)

In [9]:
all_data = pd.concat([train.drop(['layer_1', 'layer_2', 'layer_3', 'layer_4'], 1), test], sort=False)

In [10]:
all_data.head()

,0,1,2,3,4,5,6,7,8,9,...,216,217,218,219,220,221,222,223,224,225
0,0.254551,0.258823,0.254659,0.252085,0.247678,0.253614,0.246511,0.259407,0.260862,0.242524,...,0.354750,0.369223,0.388184,0.408496,0.414564,0.429403,0.419225,0.443250,0.433414,0.465502
1,0.205062,0.225544,0.217758,0.202169,0.199633,0.207380,0.191318,0.195369,0.200536,0.197588,...,0.557203,0.573656,0.587998,0.612754,0.627825,0.633393,0.637706,0.625981,0.653231,0.637853
2,0.189196,0.165869,0.177655,0.156822,0.175094,0.177755,0.157582,0.158885,0.156911,0.166162,...,0.699864,0.708688,0.721982,0.713464,0.743030,0.741709,0.747743,0.746037,0.737356,0.750391
3,0.131003,0.120076,0.138975,0.117931,0.130566,0.131262,0.126962,0.134453,0.106717,0.127309,...,0.764786,0.763788,0.770017,0.787571,0.778866,0.776969,0.774712,0.801526,0.805305,0.784057
4,0.091033,0.086893,0.108125,0.080405,0.105917,0.077083,0.097895,0.086765,0.078676,0.075729,...,0.786677,0.802271,0.806557,0.799614,0.789333,0.804087,0.787763,0.794948,0.819105,0.801781

## Normalization

In [11]:
all_data.head()

,0,1,2,3,4,5,6,7,8,9,...,216,217,218,219,220,221,222,223,224,225
0,0.254551,0.258823,0.254659,0.252085,0.247678,0.253614,0.246511,0.259407,0.260862,0.242524,...,0.354750,0.369223,0.388184,0.408496,0.414564,0.429403,0.419225,0.443250,0.433414,0.465502
1,0.205062,0.225544,0.217758,0.202169,0.199633,0.207380,0.191318,0.195369,0.200536,0.197588,...,0.557203,0.573656,0.587998,0.612754,0.627825,0.633393,0.637706,0.625981,0.653231,0.637853
2,0.189196,0.165869,0.177655,0.156822,0.175094,0.177755,0.157582,0.158885,0.156911,0.166162,...,0.699864,0.708688,0.721982,0.713464,0.743030,0.741709,0.747743,0.746037,0.737356,0.750391
3,0.131003,0.120076,0.138975,0.117931,0.130566,0.131262,0.126962,0.134453,0.106717,0.127309,...,0.764786,0.763788,0.770017,0.787571,0.778866,0.776969,0.774712,0.801526,0.805305,0.784057
4,0.091033,0.086893,0.108125,0.080405,0.105917,0.077083,0.097895,0.086765,0.078676,0.075729,...,0.786677,0.802271,0.806557,0.799614,0.789333,0.804087,0.787763,0.794948,0.819105,0.801781

In [12]:
from sklearn.preprocessing import StandardScaler

In [13]:
scaler = StandardScaler()

In [14]:
all_data = scaler.fit_transform(all_data)

In [15]:
all_data = pd.DataFrame(all_data)

In [16]:
all_data.shape

(820000, 226)

In [17]:
all_data.head()

,0,1,2,3,4,5,6,7,8,9,...,216,217,218,219,220,221,222,223,224,225
0,-0.210153,-0.187712,-0.211623,-0.226862,-0.252440,-0.221458,-0.262010,-0.193666,-0.188398,-0.290683,...,-1.229665,-1.193074,-1.134631,-1.070221,-1.073459,-1.005354,-1.067226,-0.954728,-1.018246,-0.867399
1,-0.482592,-0.370698,-0.414305,-0.500812,-0.515873,-0.474732,-0.564082,-0.543814,-0.517890,-0.535935,...,-0.216042,-0.163938,-0.122810,-0.029089,0.019921,0.041081,0.054545,-0.015388,0.113772,0.022120
2,-0.569938,-0.698823,-0.634572,-0.749687,-0.650425,-0.637018,-0.748719,-0.743302,-0.756163,-0.707451,...,0.498222,0.515827,0.555662,0.484241,0.610569,0.596724,0.619516,0.601769,0.547000,0.602935
3,-0.890290,-0.950620,-0.847018,-0.963127,-0.894578,-0.891710,-0.916303,-0.876894,-1.030313,-0.919501,...,0.823268,0.793206,0.798902,0.861975,0.794302,0.777599,0.757987,0.887013,0.896926,0.776692
4,-1.110330,-1.133077,-1.016467,-1.169079,-1.029729,-1.188504,-1.075386,-1.137641,-1.183468,-1.201018,...,0.932870,0.986933,0.983936,0.923360,0.847964,0.916710,0.824996,0.853202,0.967993,0.868167

## Split Data

In [18]:
# train_target = train[['layer_1', 'layer_2', 'layer_3', 'layer_4']]

In [19]:
train_target_01 = train[['layer_1', 'layer_2']]
train_target_02 = train[['layer_3', 'layer_4']]

In [51]:
train_target_01 = train_target_01 / 100
train_target_02 = train_target_02 / 100

In [20]:
train_target_01.head()

   layer_1  layer_2
0       10       10
1       10       10
2       10       10
3       10       10
4       10       10

In [21]:
train_target_02.head()

   layer_3  layer_4
0       10       10
1       10       20
2       10       30
3       10       40
4       10       50

In [22]:
pd.DataFrame(train_target_01).describe()

             layer_1        layer_2
count  810000.000000  810000.000000
mean      155.000000     155.000000
std        86.554468      86.554468
min        10.000000      10.000000
25%        80.000000      80.000000
50%       155.000000     155.000000
75%       230.000000     230.000000
max       300.000000     300.000000

## Make train_test_split

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
feature = all_data[:len(train)]

In [59]:
x_train_01, x_valid_01, y_train_01, y_valid_01 = train_test_split(feature, train_target_01, test_size=0.3, random_state=42)
x_train_02, x_valid_02, y_train_02, y_valid_02 = train_test_split(feature, train_target_02, test_size=0.3, random_state=42)

In [26]:
test = all_data[len(train):]

In [27]:
test.head()

,0,1,2,3,4,5,6,7,8,9,...,216,217,218,219,220,221,222,223,224,225
810000,1.335987,1.252638,1.103443,0.942397,0.749114,0.590047,0.337145,0.172787,-0.071088,-0.431317,...,0.740926,0.761926,0.789346,0.808412,0.744605,0.732887,0.573107,0.567961,0.365639,0.354416
810001,0.321347,0.578542,0.662512,0.686618,0.765114,0.883998,0.857515,0.926268,0.986717,0.990238,...,-1.333903,-1.660821,-2.029261,-2.340795,-2.629908,-2.781675,-2.707385,-2.485740,-1.908716,-1.495221
810002,1.088958,0.786269,0.660422,0.342326,0.230622,0.032345,-0.282624,-0.460779,-0.626017,-0.688050,...,0.545823,0.707816,0.856728,0.865650,1.049437,1.076141,1.123284,1.115802,1.058732,1.100405
810003,-1.327223,-1.194059,-0.874441,-0.762176,-0.462391,-0.231942,-0.037395,0.208727,0.247215,0.533817,...,-2.630067,-2.766591,-2.695803,-2.400709,-2.106294,-1.678940,-1.254128,-0.717589,-0.354080,-0.177132
810004,-0.763520,-0.501651,-0.125086,-0.052811,0.270497,0.253051,0.464436,0.457572,0.424179,0.376139,...,-1.728734,-1.831533,-1.726573,-1.476295,-1.158635,-0.712785,-0.495522,-0.237610,0.031711,0.018945

In [28]:
test_set = test.copy()

## Modeling

In [29]:
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.callbacks import ModelCheckpoint, ReduceLROnPlateau
from keras import regularizers
from keras.optimizers import Adadelta, Adam
from keras import backend as K

Using TensorFlow backend.

In [30]:
def draw_dist(arr):
    length = arr.shape[1]
    fig, axes = plt.subplots(4, 1, figsize=(8, 12))
    for i in range(length):
        sns.distplot(arr[:, i], ax=axes[i])

In [ ]:
# best model so far
def build_model_v1():
    model = Sequential()
    model.add(Dense(units=180, activation='relu', 
                    input_dim=226,
                    kernel_initializer='uniform',
                    kernel_regularizer=regularizers.l2(0.01),
                   ))
    model.add(Dense(units=180, activation='relu'))
    model.add(Dense(units=180, activation='relu'))
    model.add(Dense(units=160, activation='relu'))
    model.add(Dense(units=160, activation='relu'))
    model.add(Dense(units=160, activation='relu'))
    model.add(Dense(units=160, activation='relu'))
    model.add(Dense(units=80, activation='relu'))
    model.add(Dense(units=80, activation='relu'))
    model.add(Dense(units=80, activation='relu'))
    model.add(Dense(units=40, activation='relu'))
    model.add(Dense(units=40, activation='relu'))
    model.add(Dense(units=40, activation='relu'))
    model.add(Dense(units=4, kernel_initializer='normal', activation='linear'))
    return model

In [31]:
def build_model_v2():
    model = Sequential()
    model.add(Dense(units=180, activation='relu', 
                    input_dim=226,
                    kernel_initializer='uniform',
                   ))
    model.add(Dense(units=180, activation='relu'))
    model.add(Dense(units=180, activation='relu'))
    model.add(Dense(units=160, activation='relu'))
    model.add(Dense(units=160, activation='relu'))
    model.add(Dense(units=160, activation='relu'))
    model.add(Dense(units=160, activation='relu'))
    model.add(Dense(units=120, activation='relu'))
    model.add(Dense(units=120, activation='relu'))
    model.add(Dense(units=100, activation='relu'))
    model.add(Dense(units=80, activation='relu'))
    model.add(Dense(units=60, activation='relu'))
    model.add(Dense(units=40, activation='relu'))
    model.add(Dense(units=2,activation='linear'))
    return model

In [ ]:
def build_model_v5():
    model = Sequential()
    model.add(Dense(units=180, activation='relu', 
                    input_dim=226,
                    kernel_initializer='normal',
                    kernel_regularizer=regularizers.l2(0.01),
                   ))
    model.add(Dense(units=150,
                    kernel_initializer='normal', 
                    kernel_regularizer=regularizers.l2(0.01),
                    activation='relu'))
    model.add(Dense(units=120,
                    kernel_initializer='normal', 
                    kernel_regularizer=regularizers.l2(0.01),
                    activation='relu'))
    model.add(Dense(units=90,
                    kernel_initializer='normal', 
                    kernel_regularizer=regularizers.l2(0.01),
                    activation='relu'))
    model.add(Dense(units=60,
                    kernel_initializer='normal', 
                    kernel_regularizer=regularizers.l2(0.01),
                    activation='relu'))
    model.add(Dense(units=30,
                    kernel_initializer='normal', 
                    kernel_regularizer=regularizers.l2(0.01),
                    activation='relu'))
    model.add(Dense(units=15,
                    kernel_initializer='normal', 
                    kernel_regularizer=regularizers.l2(0.01),
                    activation='relu'))
        
    model.add(Dense(units=4, kernel_initializer='normal', activation='linear'))
    return model

In [ ]:
all_data.head()

In [60]:
# next best loss so far 1.3999
def my_loss(y_true, y_pred):
    target_mean = 155.0
    target_std = 86.554468
    
    y_true_f = K.flatten(y_true) * 100
    y_pred_f = K.flatten(y_pred) * 100
    
    total_loss = K.mean(K.abs(y_true_f - y_pred_f)) * 5
    diff_mean = K.mean(K.abs(y_true_f - target_mean)) * 3
    diff_std = K.mean(K.abs(K.std(y_true_f) - target_std)) * 3
    return total_loss * diff_mean + diff_std

In [66]:
def my_metric(y_true, y_pred):
    y_true_f = K.flatten(y_true)
    y_pred_f = K.flatten(y_pred)
    
    return K.mean(K.abs(y_true_f - y_pred_f)) * 100

In [67]:
BATCH_SIZE=512
EPOCH=5000

model = build_model_v2()
print(model.summary())
model.compile(optimizer=Adam(lr=0.001), loss=my_loss, metrics=[my_metric])

filename = 'model/file-09-model-v2-epoch-{}-batch-{}.h5'.format(EPOCH, BATCH_SIZE)
checkpoint = ModelCheckpoint(filename, monitor='val_loss', verbose=1, save_best_only=True, mode='auto')
# model.load_weights('model/file-06-model-v3-epoch-5000-batch-512-trial-3-mae-0.9747.h5')
# model.load_weights('model/file-06-model-v1-epoch-5000-batch-512-mae-1.0937.h5')
# model.load_weights('model/file-06-model-v1-epoch-3000-batch-512-mae-tmp-best.h5')
# model.load_weights(filename)

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_71 (Dense)             (None, 180)               40860
_________________________________________________________________
dense_72 (Dense)             (None, 180)               32580
_________________________________________________________________
dense_73 (Dense)             (None, 180)               32580
_________________________________________________________________
dense_74 (Dense)             (None, 160)               28960
_________________________________________________________________
dense_75 (Dense)             (None, 160)               25760
_________________________________________________________________
dense_76 (Dense)             (None, 160)               25760
_________________________________________________________________
dense_77 (Dense)             (None, 160)               25760
_________________________________________________________________
dense_78 (Dense)             (None, 120)               19320
_________________________________________________________________
dense_79 (Dense)             (None, 120)               14520
_________________________________________________________________
dense_80 (Dense)             (None, 100)               12100
_________________________________________________________________
dense_81 (Dense)             (None, 80)                8080
_________________________________________________________________
dense_82 (Dense)             (None, 60)                4860
_________________________________________________________________
dense_83 (Dense)             (None, 40)                2440
_________________________________________________________________
dense_84 (Dense)             (None, 2)                 82
=================================================================
Total params: 273,662
Trainable params: 273,662
Non-trainable params: 0
_________________________________________________________________
None

In [39]:
reduceLR = ReduceLROnPlateau(
    monitor='val_loss',
    factor=0.5,
    patience=10,
    min_lr=0.0001,
)

In [43]:
model.compile(optimizer=Adam(lr=0.001), loss=my_loss, metrics=[my_metric])

In [49]:
model.compile(optimizer=Adam(lr=0.005), loss=my_loss, metrics=['mae'])

In [63]:
y_train_01.head()

        layer_1  layer_2
9627        0.1      1.1
623138      2.4      0.3
566705      2.1      3.0
8455        0.1      1.0
572020      2.2      0.6

In [68]:
history = model.fit(x_train_01, y_train_01, 
      validation_data=(x_valid_01, y_valid_01),
      epochs=EPOCH, 
      batch_size=BATCH_SIZE, 
      callbacks=[checkpoint], 
     )

Train on 567000 samples, validate on 243000 samples
Epoch 1/5000
567000/567000 [==============================] - 12s 22us/step - loss: 52461.2493 - my_metric: 46.6199 - val_loss: 34267.2091 - val_my_metric: 30.4349

Epoch 00001: val_loss improved from inf to 34267.20905, saving model to model/file-09-model-v2-epoch-5000-batch-512.h5
Epoch 2/5000
567000/567000 [==============================] - 11s 19us/step - loss: 27688.4863 - my_metric: 24.6136 - val_loss: 24070.2364 - val_my_metric: 21.3779

Epoch 00002: val_loss improved from 34267.20905 to 24070.23639, saving model to model/file-09-model-v2-epoch-5000-batch-512.h5
Epoch 3/5000
567000/567000 [==============================] - 11s 19us/step - loss: 20366.9702 - my_metric: 18.1048 - val_loss: 18340.0010 - val_my_metric: 16.2881

Epoch 00003: val_loss improved from 24070.23639 to 18340.00098, saving model to model/file-09-model-v2-epoch-5000-batch-512.h5
Epoch 4/5000
567000/567000 [==============================] - 10s 19us/step - loss: 16940.7661 - my_metric: 15.0585 - val_loss: 16359.7618 - val_my_metric: 14.5288

Epoch 00004: val_loss improved from 18340.00098 to 16359.76180, saving model to model/file-09-model-v2-epoch-5000-batch-512.h5
Epoch 5/5000
567000/567000 [==============================] - 11s 19us/step - loss: 14900.1799 - my_metric: 13.2432 - val_loss: 14159.7991 - val_my_metric: 12.5755

Epoch 00005: val_loss improved from 16359.76180 to 14159.79905, saving model to model/file-09-model-v2-epoch-5000-batch-512.h5
Epoch 6/5000
567000/567000 [==============================] - 10s 19us/step - loss: 13567.2594 - my_metric: 12.0592 - val_loss: 13734.1395 - val_my_metric: 12.1962

Epoch 00006: val_loss improved from 14159.79905 to 13734.13954, saving model to model/file-09-model-v2-epoch-5000-batch-512.h5
Epoch 7/5000
567000/567000 [==============================] - 11s 19us/step - loss: 12480.1084 - my_metric: 11.0930 - val_loss: 12690.1597 - val_my_metric: 11.2690

Epoch 00007: val_loss improved from 13734.13954 to 12690.15972, saving model to model/file-09-model-v2-epoch-5000-batch-512.h5
Epoch 8/5000
567000/567000 [==============================] - 10s 18us/step - loss: 12033.1982 - my_metric: 10.6947 - val_loss: 12298.0936 - val_my_metric: 10.9208

Epoch 00008: val_loss improved from 12690.15972 to 12298.09362, saving model to model/file-09-model-v2-epoch-5000-batch-512.h5
Epoch 9/5000
567000/567000 [==============================] - 11s 19us/step - loss: 11331.2426 - my_metric: 10.0714 - val_loss: 12267.4945 - val_my_metric: 10.8948

Epoch 00009: val_loss improved from 12298.09362 to 12267.49451, saving model to model/file-09-model-v2-epoch-5000-batch-512.h5
Epoch 10/5000
567000/567000 [==============================] - 10s 18us/step - loss: 10971.9559 - my_metric: 9.7523 - val_loss: 10887.5638 - val_my_metric: 9.6680

Epoch 00010: val_loss improved from 12267.49451 to 10887.56376, saving model to model/file-09-model-v2-epoch-5000-batch-512.h5
Epoch 11/5000
567000/567000 [==============================] - 10s 18us/step - loss: 10457.5447 - my_metric: 9.2935 - val_loss: 10083.6287 - val_my_metric: 8.9548

Epoch 00011: val_loss improved from 10887.56376 to 10083.62868, saving model to model/file-09-model-v2-epoch-5000-batch-512.h5
Epoch 12/5000
567000/567000 [==============================] - 11s 19us/step - loss: 9983.2629 - my_metric: 8.8726 - val_loss: 9682.2785 - val_my_metric: 8.5980

Epoch 00012: val_loss improved from 10083.62868 to 9682.27854, saving model to model/file-09-model-v2-epoch-5000-batch-512.h5
Epoch 13/5000
567000/567000 [==============================] - 10s 18us/step - loss: 9953.2220 - my_metric: 8.8465 - val_loss: 9836.7826 - val_my_metric: 8.7351

Epoch 00013: val_loss did not improve from 9682.27854
Epoch 14/5000
567000/567000 [==============================] - 11s 19us/step - loss: 9671.9603 - my_metric: 8.5961 - val_loss: 9638.3182 - val_my_metric: 8.5583

Epoch 00014: val_loss improved from 9682.27854 to 9638.31816, saving model to model/file-09-model-v2-epoch-5000-batch-512.h5
Epoch 15/5000
567000/567000 [==============================] - 10s 18us/step - loss: 9431.7478 - my_metric: 8.3820 - val_loss: 8622.8250 - val_my_metric: 7.6570

Epoch 00015: val_loss improved from 9638.31816 to 8622.82503, saving model to model/file-09-model-v2-epoch-5000-batch-512.h5
Epoch 16/5000
567000/567000 [==============================] - 10s 18us/step - loss: 9643.2956 - my_metric: 8.5704 - val_loss: 8988.4483 - val_my_metric: 7.9809

Epoch 00016: val_loss did not improve from 8622.82503
Epoch 17/5000
567000/567000 [==============================] - 10s 19us/step - loss: 9016.8802 - my_metric: 8.0140 - val_loss: 8947.0046 - val_my_metric: 7.9447

Epoch 00017: val_loss did not improve from 8622.82503
Epoch 18/5000
567000/567000 [==============================] - 10s 18us/step - loss: 8729.2006 - my_metric: 7.7582 - val_loss: 10041.6921 - val_my_metric: 8.9154

Epoch 00018: val_loss did not improve from 8622.82503
Epoch 19/5000
567000/567000 [==============================] - 10s 19us/step - loss: 8693.9518 - my_metric: 7.7271 - val_loss: 8302.9231 - val_my_metric: 7.3726

Epoch 00019: val_loss improved from 8622.82503 to 8302.92309, saving model to model/file-09-model-v2-epoch-5000-batch-512.h5
Epoch 20/5000
567000/567000 [==============================] - 11s 19us/step - loss: 8599.9345 - my_metric: 7.6431 - val_loss: 8766.4965 - val_my_metric: 7.7843

Epoch 00020: val_loss did not improve from 8302.92309
Epoch 21/5000
415232/567000 [====================>.........] - ETA: 2s - loss: 8336.0266 - my_metric: 7.4071

KeyboardInterrupt:

In [ ]:
model.load_weights(filename)
pred = model.predict(test_set)

draw_dist(pred)

In [ ]:
file_01 = 'model/file-06-model-v3-epoch-5000-batch-1024-trial-3-mae-0.9774.h5'

In [ ]:
model.load_weights(filename)
pred = model.predict(test_set)

draw_dist(pred)

## Model Evaluation (Testing)

In [ ]:
file_01 = 'model/file-06-model-v3-epoch-5000-batch-1024-trial-3-mae-0.9774.h5'

In [ ]:
file_02 = 'model/file-06-model-v3-epoch-5000-batch-16384-trial-3-mae-0.9631.h5'

In [ ]:
file_03 = 'model/file-06-model-v1-epoch-3000-batch-32768-mae-1.1622.h5'

In [ ]:
file_04 = 'model/file-06-model-v1-epoch-3000-batch-65536-mae-1.1621.h5'

In [ ]:
file_05 = 'model/file-06-model-v1-epoch-3000-batch-131072-mae-1.1581.h5'

In [ ]:
model = build_model_v2()

In [ ]:
model.load_weights(file_01)
pred_01 = model.predict(x_valid)

In [ ]:
model.load_weights(file_02)
pred_02 = model.predict(x_valid)

In [ ]:
model = build_model_v1()

In [ ]:
model.load_weights(file_03)
pred_03 = model.predict(x_valid)

In [ ]:
model.load_weights(file_04)
pred_04 = model.predict(x_valid)

In [ ]:
model.load_weights(file_05)
pred_05 = model.predict(x_valid)

In [ ]:
pred_01 = pred_01 * 30

In [ ]:
pred_02 = pred_02 * 30
pred_03 = pred_03 * 30
pred_04 = pred_04 * 30
pred_05 = pred_05 * 30

In [ ]:
from sklearn.metrics import mean_absolute_error

In [ ]:
mean_absolute_error(pred_01, y_valid*30)

In [ ]:
mean_absolute_error(pred_02, y_valid*30)

In [ ]:
mean_absolute_error(pred_03, y_valid*30)

In [ ]:
pred = pred_01 * 0.23 + pred_02 * 0.23 + pred_03 * 0.2 + pred_02 * 0.18 + pred_03 * 0.16
mean_absolute_error(pred, y_valid*30)

In [ ]:
train[['layer_1', 'layer_2', 'layer_3', 'layer_4']].describe()

In [ ]:
pd.DataFrame(pred_01).describe()

In [ ]:
model = build_model_v2()

In [ ]:
model.load_weights(file_01)
pred_01 = model.predict(test_set)

In [ ]:
model.load_weights(file_02)
pred_02 = model.predict(test_set)

In [ ]:
model = build_model_v1()

In [ ]:
model.load_weights(file_03)
pred_03 = model.predict(test_set)

In [ ]:
model.load_weights(file_04)
pred_04 = model.predict(test_set)

In [ ]:
model.load_weights(file_05)
pred_05 = model.predict(test_set)

In [ ]:
pred_01 = pred_01 * 30
pred_02 = pred_02 * 30
pred_03 = pred_03 * 30
pred_04 = pred_04 * 30
pred_05 = pred_05 * 30

In [ ]:
pred = pred_01 * 0.23 + pred_02 * 0.23 + pred_03 * 0.2 + pred_02 * 0.18 + pred_03 * 0.16

In [ ]:
pred = pred_01.copy()

In [ ]:
pred = pred * 30

## Make Submission

In [ ]:
submission = pd.read_csv('data/sample_submission.csv')

In [ ]:
submission['layer_1'] = pred[:, 0]
submission['layer_2'] = pred[:, 1]
submission['layer_3'] = pred[:, 2]
submission['layer_4'] = pred[:, 3]

In [ ]:
train[['layer_1', 'layer_2', 'layer_3', 'layer_4']].describe()

In [ ]:
submission.describe()

In [ ]:
submission.head()

In [ ]:
submission.loc[submission['layer_1'] < 10, 'layer_1'] = 10
submission.loc[submission['layer_2'] < 10, 'layer_2'] = 10
submission.loc[submission['layer_3'] < 10, 'layer_3'] = 10
submission.loc[submission['layer_4'] < 10, 'layer_4'] = 10

In [ ]:
submission.loc[submission['layer_1'] > 300, 'layer_1'] = 300
submission.loc[submission['layer_2'] > 300, 'layer_2'] = 300
submission.loc[submission['layer_3'] > 300, 'layer_3'] = 300
submission.loc[submission['layer_4'] > 300, 'layer_4'] = 300

In [ ]:
submission.describe()

In [ ]:
import datetime

timestring = datetime.datetime.now()
timestring = timestring.strftime('%Y-%m-%d-%H-%M-%S')
submission_filename = 'submission/submission-{}.csv'.format(timestring)
submission.to_csv(submission_filename, index=False)