## PyCaret 설치

In [1]:
# pip install --pre pycaret
# !pip install -U pycaret -q

Google Colab 사용자의 경우 다음의 코드를 실행합니다.

In [ ]:
from pycaret.utils import enable_colab

enable_colab()

## 샘플 데이터셋 로드

In [2]:
from pycaret.datasets import get_data

dataset = get_data('juice')

,Id,Purchase,WeekofPurchase,StoreID,PriceCH,PriceMM,DiscCH,DiscMM,SpecialCH,SpecialMM,LoyalCH,SalePriceMM,SalePriceCH,PriceDiff,Store7,PctDiscMM,PctDiscCH,ListPriceDiff,STORE
0,1,CH,237,1,1.75,1.99,0.00,0.0,0,0,0.500000,1.99,1.75,0.24,No,0.000000,0.000000,0.24,1
1,2,CH,239,1,1.75,1.99,0.00,0.3,0,1,0.600000,1.69,1.75,-0.06,No,0.150754,0.000000,0.24,1
2,3,CH,245,1,1.86,2.09,0.17,0.0,0,0,0.680000,2.09,1.69,0.40,No,0.000000,0.091398,0.23,1
3,4,MM,227,1,1.69,1.69,0.00,0.0,0,0,0.400000,1.69,1.69,0.00,No,0.000000,0.000000,0.00,1
4,5,CH,228,7,1.69,1.69,0.00,0.0,0,0,0.956535,1.69,1.69,0.00,Yes,0.000000,0.000000,0.00,0

In [5]:
dataset['STORE'].value_counts()

0    356
2    222
3    196
1    157
4    139
Name: STORE, dtype: int64

In [ ]:
import pandas as pd

dataset = pd.read_excel('엑셀파일')

## 머신러닝 파이프라인 진행

In [9]:
from pycaret.classification import *

s = setup(data=dataset, target='STORE', session_id=123) 

best = compare_models(n_select=5)
best = blend_models(best)

predictions = predict_model(best)

save_model(best, 'my-model')

Processing:   0%|          | 0/65 [00:00<?, ?it/s]

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=C:\Users\TEDDY-~1\AppData\Local\Temp\joblib),
          steps=[('numerical_imputer',
                  TransformerWrapper(exclude=None,
                                     include=['Id', 'WeekofPurchase', 'StoreID',
                                              'PriceCH', 'PriceMM', 'DiscCH',
                                              'DiscMM', 'SpecialCH', 'SpecialMM',
                                              'LoyalCH', 'SalePriceMM',
                                              'SalePriceCH', 'PriceDiff',
                                              'PctDiscMM', 'PctDiscCH',
                                              'ListPriceDiff'],
                                     transformer=SimpleI...
                                                               learning_rate=0.1,
                                                               max_depth=-1,
                                                               min_child_samples=20,
                                                               min_child_weight=0.001,
                                                               min_split_gain=0.0,
                                                               n_estimators=100,
                                                               n_jobs=-1,
                                                               num_leaves=31,
                                                               objective=None,
                                                               random_state=123,
                                                               reg_alpha=0.0,
                                                               reg_lambda=0.0,
                                                               silent='warn',
                                                               subsample=1.0,
                                                               subsample_for_bin=200000,
                                                               subsample_freq=0))],
                                   flatten_transform=True, n_jobs=-1,
                                   verbose=False, voting='soft',
                                   weights=None)]],
          verbose=False),
 'my-model.pkl')

In [11]:
predictions[['STORE', 'Label', 'Score']]

      STORE  Label  Score
748       3      3    1.0
749       3      3    1.0
750       1      1    1.0
751       0      0    1.0
752       4      4    1.0
...     ...    ...    ...
1065      0      0    1.0
1066      3      3    1.0
1067      2      2    1.0
1068      1      1    1.0
1069      4      4    1.0

[322 rows x 3 columns]