# 시퀀스, 집합형 자료구조

| 분류             | 타입                 | 특징                                   | 예시                     |
| ---------------- | -------------------- | -------------------------------------- | ------------------------ |
| 시퀀스(sequence) | 리스트(list)         | 순서가 있고, 가변(mutable)             | [1, 2, 3]                |
| 시퀀스(sequence) | 튜플(tuple)          | 순서가 있고, 불변(immutable)           | (1, 2, 3)                |
| 세트(set)        | 세트(set)            | 순서가 없고, 중복을 허용하지 않음      | {1, 2, 3}                |
| 맵(map)          | 딕셔너리(dictionary) | 순서가 없고, key/value 쌍으로 이루어짐 | {'a': 1, 'b': 2, 'c': 3} |

## 리스트(list)

- 리스트는 데이터의 요소를 순차적으로 파악하는데 용이한 자료형 입니다.
- 리스트는 다양한 메서드(method) 혹은 함수를 지원하며 메서드를 활용하여 요소를 추가, 삭제 및 변경할 수 있습니다.

**메서드(method)**: 객체(object)가 포함하는 함수 혹은 기능입니다. 함수에 대한 내용은 추후에 다룹니다.

### 생성

[] 형태로 표현합니다.

빈 리스트를 생성합니다.

In [1]:
mylist = []
mylist

[]

In [2]:
mylist = list()
mylist

[]

리스트를 생성하면서 값을 포함합니다.

In [3]:
mylist = [1, 3, 2, 4, 5]
mylist

[1, 3, 2, 4, 5]

### list 규칙

* list는 다양한 type의 데이터를 집합으로 가집니다.
* list안에 list도 허용합니다.
* list는 순서(order)의 개념이 존재합니다.

In [4]:
a = []

In [5]:
a = [1, 2, 3]
a

[1, 2, 3]

In [6]:
a = [1, 'hello', 3, 3.14, True]
a

[1, 'hello', 3, 3.14, True]

리스트 안에 리스트로 포함할 수 있습니다.

In [7]:
a = [1, 'hello', 3, 3.14, [6, 7, '8']]
a

[1, 'hello', 3, 3.14, [6, 7, '8']]

### 관련 함수

- . 점 연산자로 함수를 실행할 수 있습니다.
- 함수는 어떤 작업을 수행하는 코드를 모아 이름을 붙인 것입니다.
- 자세한 내용은 추후 함수 단원에서 배웁니다.

### append() : 값 추가

빈 리스트를 생성합니다.

In [8]:
mylist = []
mylist

[]

append() 는 값을 맨 뒤에 추가 합니다.

In [9]:
mylist.append(1)
mylist

[1]

중복된 값을 추가할 수 있으며, 순서가 **유지**됩니다.

In [10]:
mylist.append(7)
mylist.append(7)
mylist.append(7)
mylist.append(3)
mylist.append(5)
mylist.append(2)
mylist

[1, 7, 7, 7, 3, 5, 2]

### sort() : 정렬

- 요소를 순서대로 정렬합니다 (오름차순)
- sort()는 내부적으로 정렬 합니다.

In [11]:
mylist = [1, 6, 3, 2, 7, 5, 4]
mylist.sort()

In [12]:
mylist

[1, 2, 3, 4, 5, 6, 7]

역정렬(reverse order)도 가능합니다. (`reverse=True`를 지정합니다.)

In [13]:
mylist = [1, 6, 3, 2, 7, 5, 4]
mylist.sort(reverse=True)

In [14]:
mylist

[7, 6, 5, 4, 3, 2, 1]

### len() : 전체 항목의 개수 세기

In [15]:
mylist = [1, 6, 3, 2, 7, 5, 4]
len(mylist)

7

### insert() : 값 추가

지정한 index에 값 추가

In [16]:
mylist.insert(1, 100)

In [17]:
mylist

[1, 100, 6, 3, 2, 7, 5, 4]

### remove() : 값 제거

리스트에서 첫 번째 나오는 해당 값 삭제

In [18]:
mylist.remove(7)

In [19]:
mylist

[1, 100, 6, 3, 2, 5, 4]

### pop() : 요소 꺼내기

x번째 요소를 돌려주고 해당 요소는 삭제

In [20]:
mylist.pop(1)

100

### count() : 갯수 세기

In [21]:
a = [1, 1, 1, 1, 1, 2, 2, 3]

In [22]:
a.count(1)

5

In [23]:
a.count(2)

2

In [24]:
a.count(5)

0

### extend() : 리스트 확장

In [25]:
a = [1, 2, 3]

In [26]:
a.extend([4, 5])

In [27]:
a

[1, 2, 3, 4, 5]

`+` 연산자는 extend()와 동일한 기능을 수행합니다.

In [28]:
a = [1, 2, 3]
a + [4, 5]

[1, 2, 3, 4, 5]

### 연습문제

In [29]:
movie = ['어벤져스', '아이언맨', '토르', '스파이더맨']

`movie`에 맨 끝에 `엑스맨` 을 추가하세요.

In [30]:
# 코드를 입력해 주세요
movie.append('엑스맨')
movie

['어벤져스', '아이언맨', '토르', '스파이더맨', '엑스맨']

`movie`의 1번 index에 `데드풀`을 추가하세요

In [31]:
# 코드를 입력해 주세요
movie.insert(1, '데드풀')
movie

['어벤져스', '데드풀', '아이언맨', '토르', '스파이더맨', '엑스맨']

`movie`에서 `아이언맨`을 삭제 하세요.

- remove() 사용

In [32]:
# 코드를 입력해 주세요
movie.remove('아이언맨')
movie

['어벤져스', '데드풀', '토르', '스파이더맨', '엑스맨']

`movie`에서 1번째 index를 삭제하세요

In [33]:
# 코드를 입력해 주세요
movie.pop(1)
movie

['어벤져스', '토르', '스파이더맨', '엑스맨']

In [34]:
kr_movie = ['승리호', '신세계', '타짜']

`kr_movie`를 `movie`에 추가해 주세요

In [35]:
# 코드를 입력해 주세요
movie = movie + kr_movie
movie

['어벤져스', '토르', '스파이더맨', '엑스맨', '승리호', '신세계', '타짜']

`movie`를 가나다 순으로 정렬하세요

In [36]:
# 코드를 입력해 주세요
sorted(movie)

['스파이더맨', '승리호', '신세계', '어벤져스', '엑스맨', '타짜', '토르']

### 인덱싱(indexing): 색인

<div class="jp-RenderedHTMLCommon jp-RenderedMarkdown jp-MarkdownOutput " data-mime-type="text/markdown">
<table>
<thead><tr>
<th>'P'</th>
<th>'Y'</th>
<th>'T'</th>
<th>'H'</th>
<th>'O'</th>
<th>'N'</th>
</tr>
</thead>
<tbody>
<tr>
<td>0</td>
<td>1</td>
<td>2</td>
<td>3</td>
<td>4</td>
<td>5</td>
</tr>
<tr>
<td>-6</td>
<td>-5</td>
<td>-4</td>
<td>-3</td>
<td>-2</td>
<td>-1</td>
</tr>
</tbody>
</table>

</div>

In [37]:
mylist = ['P', 'Y', 'T', 'H', 'O', 'N']

인덱스는 **0번 부터 시작** 합니다.

In [38]:
mylist[0]

'P'

In [39]:
mylist[3]

'H'

In [40]:
mylist[6]

IndexError: list index out of range

### 역순 인덱싱

파이썬은 음수 인덱싱을 지원합니다.

<div class="jp-RenderedHTMLCommon jp-RenderedMarkdown jp-MarkdownOutput " data-mime-type="text/markdown">
<table>
<thead><tr>
<th>'P'</th>
<th>'Y'</th>
<th>'T'</th>
<th>'H'</th>
<th>'O'</th>
<th>'N'</th>
</tr>
</thead>
<tbody>
<tr>
<td>0</td>
<td>1</td>
<td>2</td>
<td>3</td>
<td>4</td>
<td>5</td>
</tr>
<tr>
<td>-6</td>
<td>-5</td>
<td>-4</td>
<td>-3</td>
<td>-2</td>
<td>-1</td>
</tr>
</tbody>
</table>

</div>

In [41]:
mylist[-1]

'N'

In [42]:
mylist[-3]

'H'

In [43]:
mylist[-7]

IndexError: list index out of range

### 인덱스로 접근하여 값 바꾸기

In [44]:
mylist = [10, 20, 30, 40, 50]
mylist

[10, 20, 30, 40, 50]

In [45]:
mylist[0]

10

In [46]:
mylist[0] = 999

In [47]:
mylist

[999, 20, 30, 40, 50]

In [48]:
mylist[-1] = 300

In [49]:
mylist

[999, 20, 30, 40, 300]

### 중첩된 리스트 인덱싱

중첩된 리스트에 대한 리스트는 중첩 인덱싱으로 접근합니다. 값을 변경하는 것도 가능합니다.

In [50]:
mylist = [['가', '나', '다'], [4, 5, 6], 7, 8, 9]

In [51]:
mylist

[['가', '나', '다'], [4, 5, 6], 7, 8, 9]

1 번째 리스트 요소를 가져옵니다.

In [52]:
mylist[1]

[4, 5, 6]

1번째 리스트의 요소 중 1번째 요소를 가져오기 위해서는 중첩 인덱싱으로 접근합니다.

In [53]:
mylist[1][1]

5

In [54]:
mylist[1][1] = 99

In [55]:
mylist

[['가', '나', '다'], [4, 99, 6], 7, 8, 9]

### 슬라이싱(Slicing): 범위 추출

- 슬라이싱의 활용: [start:stop:step] 을 명시하여 부분을 추출할 수 있습니다.

In [56]:
mylist = [100, 200, 300, 400, 500]

[:]을 활용하여 전체를 추출할 수 있습니다.

In [57]:
mylist[:]

[100, 200, 300, 400, 500]

[start:]는 시작 index 부터 끝까지 추출합니다.

In [58]:
mylist[2:]

[300, 400, 500]

[:end]는 처음부터 end 전까지 추출합니다.

In [59]:
mylist[:3]

[100, 200, 300]

[start:end]는 start부터 end 전까지 추출합니다.

In [60]:
mylist[1:3]

[200, 300]

## 연습문제

In [61]:
fruit = ['사과', '바나나', '파인애플', '배', '수박', '키위', '오렌지', '망고', '딸기']

list **인덱싱** & **슬라이싱**을 사용하여 다음과 같이 출력 하세요

In [62]:
# 코드를 입력해 주세요
fruit[2:5]

['파인애플', '배', '수박']

In [63]:
# 코드를 입력해 주세요
fruit[-2:]

['망고', '딸기']

In [64]:
# 코드를 입력해 주세요
fruit[:3]

['사과', '바나나', '파인애플']

In [65]:
# 코드를 입력해 주세요
fruit[3:]

['배', '수박', '키위', '오렌지', '망고', '딸기']

## indexing 에 step 활용하기

list[start:stop:step]

- step은 몇 칸씩 건너 뛰는지 지정합니다.

In [66]:
mylist = [100, 200, 300, 400, 500]

**2칸**씩 건너뛰기

In [67]:
mylist[::2]

[100, 300, 500]

**역순** 출력

In [68]:
mylist[::-1]

[500, 400, 300, 200, 100]

역순 그리고 **2칸씩** 건너뛰기

In [69]:
mylist[::-2]

[500, 300, 100]

### 연습문제

슬라이싱을 활용하여 **짝수**만 출력해 주세요

In [70]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [71]:
# 코드를 입력해 주세요
print(nums[1::2])

[2, 4, 6, 8, 10]

### list 덧셈: list 확장

In [72]:
a = [1, 2, 3, 4]
b = [5, 6, 7, 8]

In [73]:
a + b

[1, 2, 3, 4, 5, 6, 7, 8]

In [74]:
a = ['a', 'b', 'c']
b = ['d', 'e', 'f']

In [75]:
a + b

['a', 'b', 'c', 'd', 'e', 'f']

### list 곱셈: list 반복

In [76]:
a = ['a', 'b', 'c']
b = [1, 2, 3, 4]

In [77]:
a * 2

['a', 'b', 'c', 'a', 'b', 'c']

In [78]:
b * 3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

### 연습문제 1

sample = [1, 2, 3, 4, 5, 6, 7, 8] 리스트를 슬라이싱을 이용하여 출력과 같이 나올수 있도록 코드를 채워주세요.

In [79]:
sample = [1, 2, 3, 4, 5, 6, 7, 8]

슬라이싱을 사용해 다음과 같이 출력해 주세요

In [80]:
# 코드를 입력해 주세요
sample[::-1]

[8, 7, 6, 5, 4, 3, 2, 1]

슬라이싱을 사용해 다음과 같이 출력해 주세요

In [81]:
# 코드를 입력해 주세요
sample[2::2]

[3, 5, 7]

슬라이싱을 사용해 다음과 같이 출력해 주세요

In [82]:
# 코드를 입력해 주세요
sample[1::3]

[2, 5, 8]

### 연습문제 2

- 아래의 값을 저장하고 있는 `myList` 변수를 생성하세요.
- [[1,2,3],[4,5,6],[7,8]]

In [83]:
myList = [[1,2,3],[4,5,6],[7,8]]
myList

[[1, 2, 3], [4, 5, 6], [7, 8]]

- 9를 `myList`에 추가하여 아래의 값을 저장할 수 있도록 하세요.
    - [[1,2,3],[4,5,6],[7,8,9]]

In [84]:
# 코드를 입력해 주세요
myList[2].append(9)
myList

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## 튜플(tuple)

- 리스트(list)는 가변(mutable)하는 객체(object)이지만, **튜플(tuple)은 불변(immutable)한 객체**입니다.
- 가변 객체는 요소에 대한 수정, 삭제, 변경 등이 가능하지만, 불편 객체는 **요소에 대한 수정, 삭제, 변경이 불가**합니다.

### 생성

- tuple(), () 로 생성합니다.
- 혹은 , 로 생성할 수 있습니다.

**()로 튜플을 생성**할 수 있습니다.

In [85]:
mytuple = (1, 2, 3)
mytuple

(1, 2, 3)

**, 로 생성**할 수 있습니다.

In [86]:
mytuple = 1, 2, 3
mytuple

(1, 2, 3)

**단일 요소를 생성**할 때는 반드시 ,를 붙여 줍니다.
- (1,)과 (1)은 다른 자료구조임을 꼭 알고 있어야 합니다.

In [87]:
mytuple = 1,
print(type(mytuple))
mytuple

<class 'tuple'>

(1,)

In [88]:
mytuple = 1
print(type(mytuple))
mytuple

<class 'int'>

1

**튜플 언패킹(unpacking)**
- 튜플로 한 번에 **여러 변수에 값을 한 번에 할당**할 수 있습니다.

In [89]:
a, b, c = 1, 2, 3

print(a)
print(b)
print(c)

1
2
3

### 튜플 자료형은 요소의 추가, 삭제, 변경등을 허용하지 않습니다.

In [90]:
mytuple = (1, 2, 3)
mytuple

(1, 2, 3)

요소를 **조회하는 것은 가능**합니다.

In [91]:
mytuple[1]

2

요소를 **변경**하려는 경우

In [92]:
mytuple[1] = 100

TypeError: 'tuple' object does not support item assignment

요소를 **삭제**하려는 경우

In [93]:
del mytuple[1]

TypeError: 'tuple' object doesn't support item deletion

### 길이 파악하기

In [94]:
mytuple

(1, 2, 3)

In [95]:
len(mytuple)

3

### list를 tuple로 변환

In [96]:
a = [1, 2, 3, 4]

In [97]:
a

[1, 2, 3, 4]

In [98]:
type(a)

list

In [99]:
b = tuple(a)

In [100]:
b

(1, 2, 3, 4)

In [101]:
type(b)

tuple

### tuple을 list로 변환

In [102]:
a = (1, 2, 3, 4)

In [103]:
a

(1, 2, 3, 4)

In [104]:
type(a)

tuple

In [105]:
b = list(a)

In [106]:
b

[1, 2, 3, 4]

In [107]:
type(b)

list

리스트로 type을 변경하였기 때문에 **요소의 추가 및 삭제가 가능**합니다.

In [108]:
b.append(5)
b

[1, 2, 3, 4, 5]

In [109]:
b.remove(2)
b

[1, 3, 4, 5]

요소를 추가 및 삭제한 후 **다시 tuple로 변경**할 수 있습니다.

In [110]:
c = tuple(b)

In [111]:
c

(1, 3, 4, 5)

In [112]:
type(c)

tuple

### 연습문제

주어진 tuple `a`를 (1, 100, 2, 3, 4)의 요소를 가지도록 변경해 주세요

In [113]:
a = (1, 2, 3, 4)

In [114]:
# 코드를 입력해 주세요
a = list(a)
a.insert(1, 100)
tuple(a)

(1, 100, 2, 3, 4)